
<%= form_for(@vacation) do |f| %>

  <% if @vacation.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @vacation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if Marcel::is_admin? User.current %>
      <%= f.collection_select :user_id, User.all.to_a.select { |u| u.active? }, :id, :name, selected: [User.current.id, User.current.name] %>
    <% else %>
      <%= f.hidden_field :user_id, value: User.current.id %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :activity %><br />
    <%= f.collection_select :activity_id, @activities, :id, :name %>
    <%= javascript_tag "$('#vacation_activity_id').focus();" %>
  </div>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
    <%= javascript_tag do %>
      $(function(){
        d = new Date();
        $('#vacation_from').appendDtpicker({
          'current': d.getFullYear() + '-' + ('0' + (1 + d.getMonth())).slice(-2) + '-' + ('0' + d.getDate()).slice(-2) + ' 8:00'
        });
      });
    <% end %>
  </div>

  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
    <%= javascript_tag do %>
      $(function(){
        $('#vacation_to').appendDtpicker({
          'onShow': function(handler) {
            if (!$('#vacation_to').val()) {
              d = new Date($('#vacation_from').val());
              handler.setDate(d.getFullYear() + '-' + ('0' + (1 + d.getMonth())).slice(-2) + '-' + ('0' + d.getDate()).slice(-2) + ' 20:00')
            }
          },
          'autodateOnStart': ($('#vacation_to').val() ? true : false),
        });
      });
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery.simple-dtpicker.js', plugin: 'marcel' %>
    <%= stylesheet_link_tag 'jquery.simple-dtpicker.css', plugin: 'marcel' %>
<% end %>
