
<%= form_for(@vacation) do |f| %>

  <% if @vacation.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @vacation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity %><br />
    <%= f.collection_select :activity_id, @activities, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
