<tr>
  <td><%= link_to '#' + vacation.id.to_s, vacation %></td>
  <td><%= link_to vacation.user, edit_user_url(vacation.user) %></td>
  <td><%= vacation.activity.name %></td>
  <td><%= vacation.from %></td>
  <td><%= vacation.to %></td>
  <td><%= vacation.days %> days</td>
  <td><%= render 'available_days', vacation: vacation %></td>
  <td><%= render 'validation', vacation: vacation %></td>
  <td><%= render 'actions_form', vacation: vacation %></td>
</tr>
