<h2>Vacations</h2>

<div class="contextual">
  <%= link_to 'Add Vacation', new_vacation_url, class: 'icon icon-add' %>
</div>

<table class="list">

  <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Type</th>
        <th>From</th>
        <th>To</th>
        <th>Validation</th>
        <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @vacations.each do |v| %>
      <tr>
        <td><%= link_to '#' + v.id.to_s, v %></td>
        <td><%= v.user.name %></td>
        <td><%= v.activity.name %></td>
        <td><%= v.from %></td>
        <td><%= v.to %></td>
        <td><%= render 'validation', vacation: v %></td>
        <td><%= render 'actions_form', vacation: v %></td>
      </tr>
    <% end %>
  </tbody>

</table>
