<h2>Vacations</h2>

<div class="contextual">
  <%= link_to 'Add Vacation', new_vacation_url, class: 'icon icon-add' %> |
  <%= link_to 'Vacation types', vacation_types_url %>
</div>


<% @vacations.keys.sort {|k| k ? 1 : 0 }.each do |status| %>
<div class="section">
  <h3><%= status ? 'Vacations' : 'Pending validation' %></h3>

  <% if not @vacations[status].length.zero? %>
    <table class="list">

      <%= render 'list_head' %>

      <tbody>
        <% @vacations[status].each do |v| %>
          <%= render 'list_entry', vacation: v %>
        <% end %>
      </tbody>

    </table>
  <% else %>
    <p>
      No <%= status ? '' : 'pending ' %>vacations
    </p>
  <% end %>
</div>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'marcel.css', plugin: 'marcel' %>
<% end %>
