<h2>Vacation #<%= @vacation.id %></h2>

<p>
  <strong>User:</strong>
  <%= @vacation.user %>
</p>
<p>
  <strong>Type:</strong>
  <%= @vacation.activity %>
</p>
<p>
  <strong>Status:</strong>
  <%= render 'validation', vacation: @vacation %>
</p>
<p>
  <strong>From:</strong>
  <%= @vacation.from %>
</p>
<p>
  <strong>To:</strong>
  <%= @vacation.to %>
</p>

<div class="actions">
  <%= link_to 'Edit', edit_vacation_url(@vacation) %>
  <br />
  <%= link_to 'Back', vacations_url %>
</div>
