<h2>Vacation #<%= @vacation.id %></h2>

<h4>Basic info</h4>
<p>
  <strong>User:</strong>
  <%= @vacation.user %>
</p>
<p>
  <strong>Type:</strong>
  <%= @vacation.activity %>
</p>
<p>
  <strong>Status:</strong>
  <%= render 'validation', vacation: @vacation %>
</p>

<h4>Comment</h4>
<p>
  <pre><%= @vacation.comment %></pre>
</p>

<h4>Dates</h4>
<p>
  <strong>From:</strong>
  <%= @vacation.from %>
</p>
<p>
  <strong>To:</strong>
  <%= @vacation.to %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @vacation.days %>
</p>

<h4>Remaining days</h4>
<%= render 'available_days', vacation: @vacation %>

<h4>Actions</h4>
<div class="admin-actions actions">
  <%= render 'actions_form', vacation: @vacation %>
</div>

<div class="actions">
  <%= link_to 'Edit', edit_vacation_url(@vacation) %>
  <br />
  <%= link_to 'Back', vacations_url %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'marcel.css', plugin: 'marcel' %>
<% end %>
