<h4>Global settings</h4>
<p>
  <label>Human Relations group</label>
  <%= select_tag 'settings[allowed_edit_group_id]', options_for_select(Group.all.map {|g| [g.name, g.id ]}, settings[:allowed_edit_group_id]) %>
</p>

<h4>Google calendar settings</h4>
<p>
  <label>Google calendar ID</label>
  <%= text_field_tag 'settings[google_calendar_id]', settings[:google_calendar_id] %>
</p>
<p>
  <label>Google User email (Marcel impersonate this user)</label>
  <%= text_field_tag 'settings[google_user_email]', settings[:google_user_email]%>
</p>
<p>
  <label>Google service account email</label>
  <%= text_field_tag 'settings[google_service_account_email]', settings[:google_service_account_email] %>
</p>
<p>
  <label>Google API key file path</label>
  <%= text_field_tag 'settings[google_key_file]', settings[:google_key_file] %>
</p>
<p>
  <label>Google API key passphrase</label>
  <%= text_field_tag 'settings[google_key_passphrase]', settings[:google_key_passphrase] %>
</p>
